/* ------------------ FONTS & VARIABLES------------------ */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #333333;
  --color-turqouise: #66ffb3;
  --color-green: #c2fc00;
  --color-lila: #cc99ff;
  --color-yellow: #ffff99;
  --color-blue: #87f2f2;
  --color-apricot: #ff7373;
  --font-family-futura: 'Futura', Arial, sans-serif;
  --font-family-jellyka: 'Jellyka', Arial, sans-serif;
  --font-size-big: calc(4rem + 2vw);
  --font-size-regular: calc(1.5rem + 2vw);
}

@font-face {
  font-family: 'Futura';
  src: url('../font/Futura.ttf');
  
  font-family: 'Jellyka';
  src: url('../font/Jellyka.ttf');
}

* {
  font-family: var(--font-family-futura);
}

/* ---------------------- GLOBAL STYLES ---------------------- */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-jellyka);
  font-weight: normal;
  font-size: var(--font-size-big);
}

a {
  color: var(--color-apricot);
  text-transform: lowercase;
}

a:hover {
  color: var(--color-lila);
  text-decoration: overline;
  text-transform: capitalize;
}

.container {
  border: 1px var(--color-apricot dotted);
}

header {
  background-color: var(--color-white);
}

#logo {
  width: 25vw;
}

.header-line {
  border: 5px var(--color-apricot) solid;
}

.nav-link {
  font-family: var(--font-family-jellyka);
  font-size: calc(2rem + 5vw);
  margin: 10px;
}

address {
  text-align: center;
}

.contact-icon {
width: 15vw;
}

footer {
  background-color: var(--color-apricot);
  margin: 0;
}

#copyright {
  font-family: var(--font-family-jellyka);
  font-size: 5vw;
}
