/* ------------------ FONTS & VARIABLES------------------ */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #333333;
  --color-turqouise: #66ffb3;
  --color-green: #c2fc00;
  --color-lila: #cc99ff;
  --color-yellow: #ffff99;
  --color-blue: #87f2f2;
  --color-apricot: #ff7373;
  --font-family-futura: 'Futura', Arial, sans-serif;
  --font-family-jellyka: 'Jellyka', Arial, sans-serif;
  --font-size-big: calc(4rem + 2vw);
  --font-size-regular: calc(1.5rem + 2vw);
}

@font-face {
  font-family: 'Futura';
  src: url('../font/Futura.ttf');
  
  font-family: 'Jellyka';
  src: url('../font/Jellyka.ttf');
}

* {
  font-family: var(--font-family-futura);
}

/* ---------------------- GLOBAL STYLES ---------------------- */

html, body {
  background-color: var(--color-);
  margin: 0;
  padding: 0;
}

#logo {
  width: 25vw;
}

.header-line {
  border: 5px var(--color-blue) solid;
}

a {
  font-family: var(--font-family-jellyka);
  font-size: calc(2rem + 5vw);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-jellyka);
  font-weight: normal;
  font-size: var(--font-size-big);
}

header {
  background-color: var(--color-lila);
}

.contact-icon {
width: 6vw;
}

footer {
  background-color: var(--color-green);
  margin: 0;
}

#copyright {
  font-family: var(--font-family-jellyka);
  font-size: 5vw;
}
