/* ------------------ FONTS & VARIABLES------------------ */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #333333;
  --color-blue: #63add2;
  --color-pink: #d1adcf;
  --font-family-futura: 'Futura', Arial, sans-serif;
  --font-family-jellyka: 'Jellyka', Arial, sans-serif;
  --font-size-big: calc(4rem + 2vw);
  --font-size-regular: calc(1.5rem + 2vw);
}

@font-face {
  font-family: 'Futura';
  src: url('../font/Futura.ttf');
  src: url('../font/Futura.ttf') format('embedded-opentype'),
       url('../font/Futura.ttf') format('woff2'),
       url('../font/Futura.ttf') format('woff'),
       url('../font/Futura.ttf')  format('truetype'),
       url('../font/Futura.ttf') format('svg');
}

@font-face {
  font-family: 'Jellyka';
  src: url('../font/Jellyka.ttf');
  src: url('../font/Jellyka.ttf') format('embedded-opentype'),
       url('../font/Jellyka.ttf') format('woff2'),
       url('../font/Jellyka.ttf') format('woff'),
       url('../font/Jellyka.ttf')  format('truetype'),
       url('../font/Jellyka.ttf') format('svg');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-futura);
}

/* ---------------------- GLOBAL STYLES ---------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-jellyka);
  font-weight: normal;
  font-size: var(--font-size-big);
}

.logo {
  font-size: 25vw;
}

html {
  margin: 0;
  padding: 0;
}

body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
}

#wrapper {
flex-direction: row;
display: flex;
}

#sidebar {
background-color: var(--color-blue);
font-family: var(--font-family-jellyka);
margin: 0;
padding: 15px;
top: 0;
left: 0;
height: 100vh;
position: sticky;
}

header {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 5px;
}

nav {
  padding: 20px;
}

.navbar-items, .navbar-item, .navbar-item a {
  color: var(--color-black);
  font-size: var();
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-icon {
width: 6vw;
}

main {
padding: 5vw;
}

section {
  padding: 10px;
}

.container {
  padding: 20px;
}

address {
  text-align: center;
}

footer {
background-color: var(--color-blue);
width: 100%;
text-align: center;
padding: 10px 0px 20px 0px;
}

.footer-items, .footer-item, .footer-item a  {
  color: var(--color-black);
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-item a:hover {
color: var(--color-black);
}

#copyright {
  font-family: var(--font-family-jellyka);
  font-size: 5vw;
}

/* ---------------------- MOBILE VIEW STYLES ---------------------- */

@media only screen and (device-width: 1280px),
only screen and (max-width:1080px) {

  #wrapper {
    flex-direction: column;
    display: flex;
  }
    
  #sidebar {
    height: fit-content;
    position: relative;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
  }

  .navbar-item {
    margin: 0 10px;
  }


}
