/* ------------------ FONTS & VARIABLES------------------ */
:root {
  --color-white: #FFFFFF;
  --color-creme: #fdf4dc;
  --color-black: #000000;
  --color-grey: #333333;
  --color-turqouise: #A8D1D1;
  --color-lila: #9EA1D4;
  --color-apricot: #FD8A8A;
  --font-family-jellyka: 'Jellyka', Arial, sans-serif;
  --font-family-futura: 'Futura', Arial, sans-serif;
  --font-size-jellyka-logo: calc(50px + 20vw);
  --font-size-jellyka-big: calc(1rem + 6vw);
  --font-size-jellyka-small: calc(.8rem + 4vw);
  --font-size-regular: calc(.6rem + .8vw);
}

@font-face {
  font-family: 'Jellyka';
  src: url('/font/Jellyka.ttf'); /* sets the link to the Standard Font file of the websites font */
  src: url('/font/Jellyka.eot') format('embedded-opentype'), /* sets the link to the Embedded OpenType Font file of the websites font */
       url('/font/Jellyka.woff2') format('woff2'), /* sets the link to the WOFF2 Font file of the websites font */
       url('/font/Jellyka.woff') format('woff'), /* sets the link to the WOFF Font file of the websites font */
       url('/font/Jellyka.ttf')  format('truetype'), /* sets the link to the TrueType Font file of the websites font */
}

@font-face {
  font-family: 'Futura';
  src: url('/font/Futura.ttf'); /* sets the link to the Standard Font file of the websites font */
  src: url('/font/Futura.eot') format('embedded-opentype'), /* sets the link to the Embedded OpenType Font file of the websites font */
       url('/font/Futura.woff2') format('woff2'), /* sets the link to the WOFF2 Font file of the websites font */
       url('/font/Futura.woff') format('woff'), /* sets the link to the WOFF Font file of the websites font */
       url('/font/Futura.ttf')  format('truetype'), /* sets the link to the TrueType Font file of the websites font */
}
/* ---------------------- GLOBAL STYLES ---------------------- */

html, body {
  background-color: var(--color-creme);
  font-family: var(--font-family-futura);
  font-size: var(--font-size-regular);
  margin: 0;
  padding: 0;
}

h1, .navbar-brand {
  font-family: var(--font-family-jellyka);
  font-size: var(--font-size-jellyka-logo);
  line-height: 15vw; /* Get rid of font-specific line height in the logo */
}

h2 {
  font-family: var(--font-family-jellyka);
  font-size: var(--font-size-jellyka-big);
}

h3, h4, h5, h6 {
  font-family: var(--font-family-jellyka);
  font-size: var(--font-size-jellyka-small);
}

a {
  color: var(--color-apricot);
}

a:hover {
  color: var(--color-lila);
  text-decoration: overline;
}

section {
  border: 3px var(--color-lila) dotted;
  border-radius: .5%;
  margin: 30px;
  padding: 30px;
}

header {
  height: 15vw;
  margin: 0;
  padding: 0;
}

.header-line {
  border: .5vw var(--color-apricot) solid;
}

.navbar-nav {
  margin-right: 5vw;
  flex-direction: row;
}

.nav-img {
  width: calc(10px + 4vw);
  padding: 2px;
  margin: 0px 10px;
}

.nav-img:hover {
  border: 5px var(--color-turqouise) dotted;
}

video {
  border: 5px var(--color-turqouise) solid;
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
}

.carousel-inner {
  border: 5px var(--color-turqouise) solid;
  border-radius: 5px;
  margin: 20px 0;
}

address {
  margin: 5vw;
  text-align: center;
}

.social-img {
  width: 15vw;
}

.social-img:hover {
  padding: 20px;
}

.instagram {
  filter: invert(72%) sepia(100%) saturate(5500%) hue-rotate(345deg) brightness(222%) contrast(94%);
}

.facebook {
  filter: invert(98%) sepia(3%) saturate(3125%) hue-rotate(136deg) brightness(91%) contrast(78%);
}

.tiktok {
  filter: invert(75%) sepia(61%) saturate(1305%) hue-rotate(192deg) brightness(95%) contrast(74%);
}

.youtube {
  filter: invert(63%) sepia(26%) saturate(925%) hue-rotate(314deg) brightness(101%) contrast(107%);
}

footer {
  background-color: var(--color-apricot);
  margin: 0;
}

#copyright {
  font-family: var(--font-family-jellyka);
  font-size: 5vw;
}

.jump-up {
  position: sticky;
  bottom: 0;
  margin-left: 85vw;
  padding: 0px;
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}
